# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
.env
.venv
venv/
ENV/
env/
.ipynb_checkpoints

# Logs
*.log

# Dados sensíveis ou brutos
*.txt
*.csv

# Arquivos exportados/análises
*.csv
*.xlsx
*.pdf
*.png
*.jpg

# Configs locais de IDEs
.vscode/
.idea/
*.swp
